In [ ]:
data = {
    "name" : "dheeraj" ,
    "mail_id" : "dhee@gmail.com" ,
    "phone_no" : 8873714003 ,
    "subject" : ["data science" ,"big data" ,"data analytics"]

}

In [ ]:
import json # we import json to read dictionary file

In [ ]:
with open("data.json", "w") as f :
  json.dump(data , f)

In [ ]:
with open("data.json" , "r" ) as f :
  data1 = json.load(f)

In [ ]:
data1

{'name': 'dheeraj',
 'mail_id': 'dhee@gmail.com',
 'phone_no': 8873714003,
 'subject': ['data science', 'big data', 'data analytics']}

In [ ]:
data1["subject"][1]

'big data'

In [ ]:
import csv

In [ ]:
data = [["name", "email_id","phone_number"] ,
        ["dheeraj","dhee@gmail.com", 8874657465],
        ["amar","amar@gmail.com", 98764564] ,


]

In [ ]:
with open("data.csv" ,"w") as f :
  writer = csv.writer(f)

  for i in data :
    writer.writerow(i)

In [ ]:
from os import read
with open("data.csv" , "r") as f :
  read_data = csv.reader(f)

  for i in read_data :
    print(i)

['name', 'email_id', 'phone_number']
['dheeraj', 'dhee@gmail.com', '8874657465']
['amar', 'amar@gmail.com', '98764564']

In [ ]:
with open("test4.bin" , "wb") as f :
  f.write(b"\x01\x03\x04\x343564")

In [ ]:
with open("test4.bin" , "rb") as f :
  print(f.read())

b'\x01\x03\x0443564'