In [ ]:
l = [2,3,4,5,6,7]

In [ ]:
def test(l):
  l1 = []
  for i in l :
    l1.append(i**2)
  return l1

In [ ]:
test(l)

[4, 9, 16, 25, 36, 49]

In [ ]:
def sq(x) :
  return x**2

In [ ]:
list(map(sq,l)) # syntax = map(function , iterable)

[4, 9, 16, 25, 36, 49]

In [ ]:
list(map(lambda x : x**2 , l))

[4, 9, 16, 25, 36, 49]

In [ ]:
l1 = [1,2,3,4,5,6]
l2 = [6,7,8,9,10,11]

list(map(lambda x , y : x+y ,l1 , l2))

[7, 9, 11, 13, 15, 17]

In [ ]:
def add(x,y):
  return x+y

In [ ]:
list(map(add , l1,l2))

[7, 9, 11, 13, 15, 17]

In [ ]:
s = "pwskills"
list(map(lambda s :s.upper(),s))

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

In [ ]:
from functools import reduce

In [ ]:
l = [1,2,3,4,5,6]

In [ ]:
reduce(lambda x ,y : x+y , l) # in reduce we use only 2 argument

21

In [ ]:
reduce(lambda x,y,z : x+y+z , l)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [ ]:
reduce(lambda x,y : x+y , [])

TypeError: reduce() of empty iterable with no initial value

In [ ]:
reduce(lambda x ,y : x+y ,[1])

1

In [ ]:
reduce(lambda x,y : x*y , l)

720

In [ ]:
l

[1, 2, 3, 4, 5, 6]

In [ ]:
reduce(lambda x,y : x if x>y else y , l)

6

In [ ]:
l

[1, 2, 3, 4, 5, 6]

In [ ]:
list(filter(lambda x : x%2 == 0 , l))

[2, 4, 6]

In [ ]:
list(filter(lambda x : x %2!= 0 , l))

[1, 3, 5]

In [ ]:
l1 = [-3,4,5,6,-1,-5]

In [ ]:
list(filter(lambda x : x<0 ,l1))

[-3, -1, -5]

In [ ]:
l2 = ["sudh","pwskills","kumar","banglore","krish"]

In [ ]:
list(filter(lambda x : len(x)<6 ,l2 ))

['sudh', 'kumar', 'krish']